<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
 <% include ./partials/navbar %>
<div class="container" >
<div class="row">      
<div class="quotes starter-template">
<div class="col-md-12">
<div class="todolist">
        <h2>WELCOME</h2>
        <a class="btn btn-success" href="/todo">Submit</a>
</div>
</div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>